<!-- {{lookup-form nameLookup="nameLookup"}} {{outlet}} -->
<ul>
  {{#each model as |product|}}
    {{product-tile product=product}}
  {{/each}}
</ul>



<div class="output">
  <!-- <h2>Mens clothes</h2> -->
  <div class="row">
    <div class="col col-md-3">
      {{#each model as |product|}}
        <li> {{product.id}} {{product.name}}</li>
        <li> {{product.unbrandedName}} {{product.brandedName}}</li>
        <li> {{product.currency}} {{product.priceLabel}}</li>
        <li> {{product.instock}} {{product.stock}}</li>
        <li><img src="{{product.image.sizes.Best.url}}" alt="" class="image"></li>
      {{/each}}
    </div>
  </div>
  <!-- <h2>Womens Clothes</h2> -->
  <div class="row">
    <div class="col col-md-3">
      {{#each model as |product|}}
        <li> {{product.id}} {{product.name}}</li>
        <li> {{product.unbrandedName}} {{product.brandedName}}</li>
        <li> {{product.currency}} {{product.priceLabel}}</li>
        <li> {{product.instock}} {{product.stock}}</li>
        <li><img src="{{product.image.sizes.Best.url}}" alt="" class="image"></li>
      {{/each}}
    </div>
  </div>
</div>


{{!-- {{lookup-form nameLookup="nameLookup"}} --}}
<!-- {{#each shoppingCart.items as |item|}}
	<li>{{item}}swdfs</li>
{{/each}} -->



<!-- {{#link-to 'store'}}
  <h3>Start Shopping</h3>
{{/link-to}}
 -->


{{!-- ///renders list of brands from api--}}


{{!-- ///renders name look up --}}
<!-- <header id="main">
	<h1>Desiignerz Club</h1>
</header>
 -->



<!--
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contacts'}}Click here to contact us.{{/link-to}} -->
