
{{head-title 'Pean | Home'}}
<nav class="blue">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Pean</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>{{#link-to 'about'}} About {{/link-to}} </li>
      <li> {{#link-to 'contacts'}} Contact {{/link-to}} </li>
      {{!--<li><a href="collapsible.html">Services</a></li>--}}
      <li> {{#link-to 'cart'}} Cart {{/link-to}} </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li>{{#link-to 'about'}} About {{/link-to}} </li>
      <li> {{#link-to 'contacts'}} Contact {{/link-to}} </li>
      {{!--<li><a href="collapsible.html">Services</a></li>--}}
      <li> {{#link-to 'cart'}} Cart {{/link-to}} </li>
    </ul>
    {{!-- ///renders name look up --}}
{{lookup-form nameLookup="nameLookup"}}

  </div>
</nav>
{{!-- {{lookup-form nameLookup="nameLookup"}} --}}



{{outlet}}

{{!-- ///renders list of products from api--}}
<ul>
  {{#each model as |product|}}
    {{product-tile product=product}}
  {{/each}}
</ul>


<form action="/your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_mxGKu1QFfYGkuQbup4t5VFal"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>