{{head-title 'Pean | Results'}}
<nav class="results-nav">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Pean</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
      <li>{{#link-to 'about'}} About {{/link-to}} </li>
      <li> {{#link-to 'contacts'}} Contact {{/link-to}} </li>
      {{!--<li><a href="collapsible.html">Services</a></li>--}}
      <li> {{#link-to 'cart'}} Cart {{/link-to}} </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li>{{#link-to 'about'}} About {{/link-to}} </li>
      <li> {{#link-to 'contacts'}} Contact {{/link-to}} </li>
      {{!--<li><a href="collapsible.html">Services</a></li>--}}
      <li> {{#link-to 'cart'}} Cart {{/link-to}} </li>
    </ul>
	</div>
</nav>
{{lookup-form nameLookup="nameLookup"}}
{{#each model as |product|}}
<div class="product-container">
	<div class="row" id="product-card">
		<div class="">
			<div class="card">
				<div class="card-image">
					<img src={{product.image.sizes.Best.url}}>
					<span class="card-title">{{product.name}}</span>
				</div>
				<div class="card-content">
					<p>{{product.description}}</p>
					<p class="product-price"> Price: {{product.currency}} {{product.priceLabel}}</p>
					{{new-order product=product addOrder1='addOrder2'}}
				</div>
			</div>
		</div>
	</div>
</div>
	{{/each}}
