
{{#each model as |product|}}
<div class="product-container">
	<div class="row" id="product-card">
		<div class="">
			<div class="card">
				<div class="card-image">
					<img src={{product.image.sizes.Best.url}}>
					<span class="card-title">{{product.name}}</span>
				</div>
				<div class="card-content">
					<p>{{product.description}}</p>
					<p class="product-price"> Price: {{product.currency}} {{product.priceLabel}}</p>
					{{new-order product=product addOrder1='addOrder2'}}
				</div>
			</div>
		</div>
	</div>
</div>
	{{/each}}
